modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_SECRET = "5a3c08fc5bb635040ec2db32d5634203f50fc8c2ed599551"
EXPO_PUBLIC_API_URL = "https://824907cd-1434-4f43-af21-21a5f9c40c6b-00-sug3t2lxiezt.sisko.replit.dev/api"
EXPO_PUBLIC_ADMIN_SECRET = "5a3c08fc5bb635040ec2db32d5634203f50fc8c2ed599551"

[nix]
channel = "stable-25_05"
